@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "./Shared/_Layout.cshtml";
}

<div>
    <div class="text-center">
        <h1 class="display-4 m-xl-5">Welcome</h1>
        <img src="~/img/B5.jpg" class="figure-img img-fluid rounded ml-3 mr-3 mb-5 border-bottom pb-5" style="width:100%; height:auto;" alt="Just a picture.">

    </div>

    <div class="container pb-5">
        <div class="row">
            <div class="col-sm-6">
                <img src="~/img/B3.jpg" class="figure-img img-fluid rounded" style="width:100%; height:auto;" alt="Just a picture.">
                <div style="height:300px" class="navbar justify-content-between">
                    <span class="figure-caption ml-xl-5">We provide all products you can think about.</span>
                </div>
            </div>
            <div class="col-sm text-center">
                <div style="height:300px" class="navbar justify-content-between">
                    <span class="figure-caption ml-xl-5">After selling we provide the warranty of one year and any time you need our help.</span>
                </div>
                <img src="~/img/B4.jpg" class="figure-img img-fluid rounded" style="width:100%; height:auto;" alt="Just a picture.">
            </div>
        </div>
    </div>

    <div class="container text-center">
        <span class="h3 text-black-50" style="font-weight:400;">Featured Products</span>
        @{
            var count = 0;
        }
        <div class="row mt-5">
            @foreach (var product in Model.productDtos)
            {
                
                count = count + 1;
                
                <div class="col-sm mb-3">
                    <div class="border rounded bg-white shadow-sm">
                        <div class="text-center pt-2 pb-3 pl-2 pr-2" style="cursor:pointer" onclick="onProductClick('@(product.Id)')" asp-page="/ProductDetail?product=@(product.Id)">
                            <div>
                                <img src="@("/img/" + product.ProductPictures.FirstOrDefault().PictureUrl)" class="rounded" alt="..." style="width: 150px; height: 150px; object-fit: contain;">
                            </div>
                            <div class="mt-3 mb-1">
                                <span class="h5" style="font-weight:400;">@product.ProductName</span>
                            </div>
                            <div class="mb-1">
                                <span class="h6" id="abc" style="font-weight:300">$@product.Price</span>
                            </div>
                        </div>
                        @*<div class="input-group">
                            <div class="nav justify-content-center align-content-center btn-info border-0" style="width:18.1%; cursor:pointer;">
                                <i class="fa-solid fa-heart"></i>
                            </div>
                            <div class="nav justify-content-center align-content-center btn-warning border-0 pt-2 pb-2" style="width: 81.9%; cursor: pointer;">
                                <span class="text-white">ADD TO CART</span>
                            </div>
                        </div>*@
                    </div>
                </div>
            }
            @for (var i = count; i < 5; i++)
            {
                <div class="col-sm"></div>
            }
        </div>
    </div>

    <div class="container mt-xl-5 border-top pt-xl-5">
        @{
            count = 0;
        }
        <div class="row">
            @foreach (var category in Model.categoryDtos)
            {
                if (count == 7)
                {
                    <div class="w-100 mt-2"></div>
                    count = 0;
                }
                else
                {
                    count = count + 1;
                }
                <div class="col-sm mb-3">
                    <div class="text-center pt-2 pb-3 pl-2 pr-2" style="cursor:pointer" onclick="onCategoryClick('@(category.CategoryName)')" asp-page="/ProductDetail?category=@(category.CategoryName)">
                        <i class="@("fa-solid " +  category.ImageUrl + " fa-2xl")" style="cursor:pointer;"></i>
                        <br />
                        <br />
                        <span class="h5" style="cursor:pointer;">@category.CategoryName</span>
                    </div>
                </div>
            }
            @for (var i = count; i < 7; i++)
            {
                <div class="col-sm"></div>
            }
        </div>
    </div>
</div>
<script>
    function onCategoryClick(categoryName) {
        location.href = "/Product?category=" + categoryName;
    }

    function onProductClick(productId) {
        location.href = "/ProductDetail?product=" + productId;
    }
</script>