@page
@model Rookie.Ecom.Customer.Pages.ProductDetailModel
@{
    ViewData["Title"] = "Product detail page";
}

<div class="container mb-4">
    <div class="row">
        <div class="col-sm-8 border bg-white box-shadow rounded p-3 mt-4">
            <div class="container mb-3">
                <div class="row">
                    <div class="col-sm border bg-white rounded shadow-sm">
                        <img src="@("/img/" + Model.productDtos.ProductPictures.FirstOrDefault().PictureUrl)" class="w-100"/>
                    </div>
                    <div class="col-sm navbar justify-content-center align-content-center">
                        <div>
                            <div>
                                <i class="fa-solid fa-star"></i>
                                @if (Model.rating == 0)
                                {
                                    <span style="font-size:14px">Not rating yet</span>
                                }
                                else
                                {
                                    <span style="font-size:14px">@Model.rating</span>
                                }

                            </div>
                            <div class="mb-2">
                                <span class="h4 mr-2">@Model.productDtos.ProductName</span>
                                <i class="fa-regular fa-heart"></i>
                            </div>
                            <span class="text-primary">@("$" + Model.productDtos.Price)</span>
                            <div class="mt-2 mb-3">
                                <span>Tag</span>
                                <span>Tag</span>
                            </div>
                            <div class="nav">
                                <button class="btn btn-dark">Add to cart</button>
                                <div class="bg-dark rounded ml-2 navbar p-0">
                                    <button class="btn btn-dark" onclick="onChangeQuantity('0')">-</button>
                                    <span class="mr-2 ml-2 text-white" id="quantity">1</span>
                                    <button class="btn btn-dark" onclick="onChangeQuantity('1')">+</button>
                                </div>
                            </div>
                        </div>
                        


                    </div>
                </div>
            </div>
            <span class="h6">Colors</span>
            <div class="mt-2 mb-3">
                <button class="btn bg-white border rounded-pill mr-2" style="height:30px;width:30px"></button>
                <button class="btn bg-dark border rounded-pill mr-2" style="height:30px;width:30px"></button>
                <button class="btn bg-danger border rounded-pill mr-2" style="height:30px;width:30px"></button>
            </div>
            <ul class="nav nav-tabs mb-2">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Description</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Reviews</a>
                </li>
            </ul>
            <div style="word-wrap:break-word;">
                <span>@Model.productDtos.Desc</span>

            </div>
                    </div>
        <div class="col-sm ml-lg-5 p-3">
            <span class="h5">Similar products</span>
            <div class="border bg-white pt-2 pb-2 mt-3 shadow-sm">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-4">
                            Product image
                        </div>
                        <div class="col-sm-7">
                            <div class="mb-1">
                                <span class="h6">Product name</span>
                                <i class="fa-regular fa-heart"></i>
                            </div>
                            <span class="text-primary">$ Price</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border bg-white pt-2 pb-2 mt-3 shadow-sm">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-4">
                            Product image
                        </div>
                        <div class="col-sm-7">
                            <div class="mb-1">
                                <span class="h6">Product name</span>
                                <i class="fa-regular fa-heart"></i>
                            </div>
                            <span class="text-primary">$ Price</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function onChangeQuantity(choice) {
        var num = parseInt(document.getElementById("quantity").innerHTML.toString());
        if (choice === "0") {
            if (num !== 1) {
                document.getElementById("quantity").innerHTML = (num - 1).toString();
            } 
        } else {
            document.getElementById("quantity").innerHTML = (num + 1).toString();
        }
    }
</script>
