@page
@model Rookie.Ecom.Customer.Pages.ProductDetailModel
@{
    ViewData["Title"] = "Product detail page";
}

<div class="container mb-4">
    <div class="row">
        <div class="col-sm-8 border bg-white box-shadow rounded p-3 mt-4">
            <div class="container mb-3">
                <div class="row">
                    <div class="col-sm border bg-white rounded shadow-sm">
                        <img src="@("https://localhost:5011/product/" + Model.productDtos.ProductPictures.FirstOrDefault().PictureUrl)" class="w-100" />
                    </div>
                    <div class="col-sm navbar justify-content-center align-content-center">
                        <div>
                            <div>
                                <i class="fa-solid fa-star text-warning"></i>
                                @if (Model.rating == 0)
                                {
                                    <span style="font-size:14px">Not rating yet</span>
                                }
                                else
                                {
                                    <span style="font-size:14px">@Model.rating.ToString("F1")</span>
                                }

                            </div>
                            <div class="mb-2">
                                <span class="h4 mr-2">@Model.productDtos.ProductName</span>
                                <i class="fa-regular fa-heart"></i>
                            </div>
                            <span class="text-primary">@("$" + Model.productDtos.Price)</span>
                            <div class="mt-2 mb-3">
                                <span class="text-black-50" style="font-size:14px">Quantity: @Model.productDtos.Quantity</span>
                            </div>
                            <div class="nav">
                                <button class="btn btn-dark">Add to cart</button>
                                <div class="bg-dark rounded ml-2 navbar p-0">
                                    <button class="btn btn-dark" onclick="onChangeQuantity('0')">-</button>
                                    <span class="mr-2 ml-2 text-white" id="quantity">1</span>
                                    <button class="btn btn-dark" onclick="onChangeQuantity('1')">+</button>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
            <span class="h6">Colors</span>
            <div class="mt-2 mb-3">
                <button class="btn bg-white border rounded-pill mr-2" style="height:30px;width:30px"></button>
                <button class="btn bg-dark border rounded-pill mr-2" style="height:30px;width:30px"></button>
                <button class="btn bg-danger border rounded-pill mr-2" style="height:30px;width:30px"></button>
            </div>
            <ul class="nav nav-tabs mb-2">
                <li class="nav-item">
                    <button class="nav-link active" id="descriptionlink" onclick="onDescriptionClick()">Description</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" id="reviewlink" onclick="onReviewClick()">Reviews</button>
                </li>
            </ul>
            <div style="word-wrap:break-word;" class="ml-1 mt-2" id="description">
                <ul>
                @foreach (var desc in Model.productDtos.Desc.Split("."))
                {
                    <li class="mt-3">
                        <span>@(desc).</span>
                    </li>
                }
                </ul>

            </div>
            <div id="review" class="ml-4 mt-2" hidden>
                @foreach (var rating in Model.productDtos.Ratings)
                {
                    <div class="container mt-4">
                        <div class="row">
                            <div class="col-1">
                                <button class="btn-sm rounded-pill border-0 btn-ligth" style="right: 50px; bottom: 80px; width: 2.5rem; height: 2.5rem; padding-top:6px;">
                                    <i class="fa-solid fa-user fa-2xl"></i>
                                </button>
                            </div>
                            <div class="col-sm" style="word-wrap:break-word;">
                                <div>
                                    <span class="h6 mr-3">@((Model.ratingUser(rating.Id).UserID != null) ? Model.ratingUser(rating.Id).User.LastName : "Anonymous")</span>
                                    @for (int i = 0; i < rating.Rate; i++)
                                    {
                                        <i class="fa-solid fa-star text-warning"></i>
                                    }
                                    @for (int i = 0; i < 5 - rating.Rate; i++)
                                    {
                                        <i class="fa-regular fa-star text-warning"></i>
                                    }
                                    <span class="text-secondary ml-2" style="font-size:13px;">@rating.CreatedDate</span>
                                    
                                </div>
                                <div style="word-wrap:break-word;">
                                    @rating.Comment
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="container mt-4">
                    <div class="row">
                        <div class="col-1">
                            <button class="btn-sm rounded-pill border-0 btn-ligth" style="right: 50px; bottom: 80px; width: 2.5rem; height: 2.5rem; padding-top:6px;">
                                <i class="fa-solid fa-user fa-2xl"></i>
                            </button>
                        </div>
                        <div class="col-sm" style="word-wrap:break-word;">
                            <span class="h6 mr-3">@(User.Claims.Any() ? User.Claims.Where(x => x.Type == "given_name").FirstOrDefault().Value : "Anonymous")</span>
                            <form method="post" asp-page-handler="Rating">
                                <div class="d-flex">
                                    <p class="mb-0 mr-2">Your rating :</p>
                                    <div class="text-primary">
                                        <div onclick="CRate(1)" href="" class="ratingStar fas fa-star text-warning" value="1" style="cursor:pointer"></div>
                                        <div onclick="CRate(2)" href="" class="ratingStar fas fa-star text-warning" value="2" style="cursor:pointer"></div>
                                        <div onclick="CRate(3)" href="" class="ratingStar fas fa-star text-warning" value="3" style="cursor:pointer"></div>
                                        <div onclick="CRate(4)" href="" class="ratingStar fas fa-star text-warning" value="4" style="cursor:pointer"></div>
                                        <div onclick="CRate(5)" href="" class="ratingStar fas fa-star text-warning" value="5" style="cursor:pointer"></div>
                                    </div>
                                </div>
                                <div class="form-group mt-2">
                                    <textarea id="message" name="comment" cols="30" rows="5" class="form-control"></textarea>
                                </div>
                                <div class="form-group mb-0">
                                    <input id="Rating" name="rating" value="5" hidden />
                                    <input name="product" value="@Model.productDtos.Id" hidden />
                                    <input name="user" value="@(User.Claims.Any() ? User.Claims.Where(x => x.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier").FirstOrDefault().Value: "")" hidden />
                                    <input type="submit" value="Leave Your Review" class="btn btn-dark px-3">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm ml-lg-5 p-3">
            <span class="h5">Similar products</span>
            <div class="border bg-white pt-2 pb-2 mt-3 shadow-sm">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-4">
                            Product image
                        </div>
                        <div class="col-sm-7">
                            <div class="mb-1">
                                <span class="h6">Product name</span>
                                <i class="fa-regular fa-heart"></i>
                            </div>
                            <span class="text-primary">$ Price</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border bg-white pt-2 pb-2 mt-3 shadow-sm">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-4">
                            Product image
                        </div>
                        <div class="col-sm-7">
                            <div class="mb-1">
                                <span class="h6">Product name</span>
                                <i class="fa-regular fa-heart"></i>
                            </div>
                            <span class="text-primary">$ Price</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(".ratingStar").click(function () {
            $(".ratingStar").addClass("far").removeClass("fas");

            $(this).addClass("fas").removeClass("far");
            $(this).prevAll(".ratingStar").addClass("fas").removeClass("far");
        });
        function CRate(r) {
            $("#Rating").val(r);
            
        }
    </script>
}
<script>
    function onChangeQuantity(choice) {
        var num = parseInt(document.getElementById("quantity").innerHTML.toString());
        if (choice === "0") {
            if (num !== 1) {
                document.getElementById("quantity").innerHTML = (num - 1).toString();
            }
        } else {
            if(@Model.productDtos.Quantity > num)
                document.getElementById("quantity").innerHTML = (num + 1).toString();
        }
    }

    function onDescriptionClick() {
        document.getElementById("reviewlink").className = document.getElementById("reviewlink").className.split(" active")[0];
        var descriptionlist = document.getElementById("descriptionlink").className.split(" active");
        if (descriptionlist.length == 1) {
            document.getElementById("descriptionlink").className = descriptionlist[0] + " active";
            document.getElementById("description").hidden = false;
            document.getElementById("review").hidden = true;
        }
    }

    function onReviewClick() {
        document.getElementById("descriptionlink").className = document.getElementById("descriptionlink").className.split(" active")[0];
        var reviewlist = document.getElementById("reviewlink").className.split(" active");
        if (reviewlist.length == 1) {
            document.getElementById("reviewlink").className = reviewlist[0] + " active";
            document.getElementById("description").hidden = true;
            document.getElementById("review").hidden = false;
        }
    }
</script>
