@page
@model Rookie.Ecom.Customer.Pages.ProductModel
@{
    ViewData["Title"] = "Product page";
}

<img src="~/img/productTop.jpg" class="mb-2 mt-3" style="width:100%;height:auto;" alt="Image at the top of product page"/>

<div class="container mt-xl-4">
    <div class="row">

        <!--row 1-->
        <form class="col-sm p-0">
            <div class="border bg-white shadow-sm">
                <div class="bg-dark pl-3 pt-2 pb-2">
                    <span class="h5 text-white">SHOP BY</span>
                </div>
                <div class="pl-3 pt-2 pb-2">
                    <span class="h6">CATEGORY</span>
                </div>
                @foreach (var category in Model.categories)
                {
                    <div class="form-check pl-5 pb-2 nav">
                        @if (Model.categoryName == category.CategoryName)
                        {
                            <input class="form-check-input align-self-center mb-0" checked type="radio" id="@(category.CategoryName)" name="category" value="@(category.CategoryName)">
                        }
                        else
                        {
                            <input class="form-check-input align-self-center mb-0" type="radio" id="@(category.CategoryName)" name="category" value="@(category.CategoryName)">
                        }
                        <label class="form-check-label align-self-center" for="@(category.CategoryName)">
                            @category.CategoryName
                        </label>
                    </div>
                }
                <p class="border-top ml-3 mr-3 mt-3"></p>
                <div class="pl-3 pb-2">
                    <span class="h6">PRICE</span>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" name="minvalue" aria-label="Amount (to the nearest dollar)">
                                <div class="input-group-append nav w-25">
                                    <span class="input-group-text w-25 justify-content-center">đ</span>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" name="maxvalue" aria-label="Amount (to the nearest dollar)">
                                <div class="input-group-append nav w-25">
                                    <span class="input-group-text w-25 justify-content-center">đ</span>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <button class="btn btn-outline-success" type="submit">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!--row 2-->
        <form class="col-sm-9 text-center pl-5">

            <!--row 2.1-->
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white box-shadow ml-3 mr-3 pl-1 mb-3 pt-0 pb-0">
                <div class="container-fluid">
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <span class="nav-link text-dark">Sort by</span>
                            </li>
                            <li class="nav-item">
                                <select class="custom-select ml-2 border-0 shadow-sm" id="inputGroupSelect03">
                                    <option selected>Choose...</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </li>
                            <li class="nav-item">
                                <span class="nav-link text-dark ml-3">Show</span>
                            </li>
                            <li class="nav-item">
                                <select class="custom-select ml-2 border-0 shadow-sm" id="inputGroupSelect03" onchange="onLimitClick()" name="limit">
                                    @{ int[] options = { 9, 12, 16 };}
                                    @foreach (var option in options)
                                    {
                                        if (option == Model.limitPage)
                                        {
                                            <option selected value="@option">@option</option>
                                        }
                                        else
                                        {
                                            <option value="@option">@option</option>
                                        }


                                    }

                                </select>
                            </li>
                        </ul>
                        <div class="justify-content-center ml-xl-5">
                            <button class="btn-sm rounded-pill border-0 btn btn-light active" style="width: 1.9rem; height:1.9rem;">
                                <i class="fa-solid fa-layer-group"></i>
                            </button>
                            <button class="btn-sm rounded-pill border-0 btn btn-light" style="width: 1.9rem; height:1.9rem;">
                                <i class="fa-solid fa-list"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </nav>

            <!--row 2.2-->
            <div class="container">
                @{
                    var count = 0;
                }
                <div class="row">
                    @foreach (var product in Model.products.Items)
                    {
                        if (count == 3)
                        {
                            <div class="w-100 mt-2"></div>
                            count = 1;
                        }
                        else
                        {
                            count = count + 1;
                        }
                        <div class="col-sm mb-3">
                            <div class="shadow-sm">
                                <div class="text-center bg-white pt-2 pb-3 pl-2 pr-2" style="cursor:pointer" onclick="onProductClick('@(product.Id)')" asp-page="/ProductDetail?product=@(product.Id)">
                                    <div>
                                        <img src="@("/img/" + product.ProductPictures.FirstOrDefault().PictureUrl)" class="rounded" alt="..." style="width: 200px; height: 200px; object-fit: contain;">
                                    </div>
                                    <div class="mt-3 mb-1">
                                        <span class="h5">@product.ProductName</span>
                                    </div>
                                    <div class="mb-1">
                                        <span class="h6" id="abc">$@product.Price</span>
                                    </div>
                                    <div>
                                        <span>Star</span>
                                    </div>
                                </div>
                                <div class="input-group">
                                    <div class="nav justify-content-center align-content-center btn-info border-0" style="width:18.1%; cursor:pointer;">
                                        <i class="fa-solid fa-heart"></i>
                                    </div>
                                    <div class="nav justify-content-center align-content-center btn-warning border-0 pt-2 pb-2" style="width: 81.9%; cursor: pointer;">
                                        <span class="text-white">ADD TO CART</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    @for (var i = count; i < 3; i++)
                    {
                        <div class="col-sm"></div>
                    }
                </div>
            </div>

            <nav class="nav justify-content-center mt-2">
                <ul class="pagination">
                    @{
                        var pagination = Model.products.Items.Any();
                    }
                    @if (pagination)
                    {
                        <li class="page-item"><a class="page-link text-dark" href="#">Previous</a></li>
                        for (int num = (Model.products.CurrentPage != 1) ? Model.products.CurrentPage - 1 : 1; num <= Model.products.TotalPages; num++)
                        {
                            if (Model.currentPage == num)
                            {
                                <li class="page-item"><button class="page-link text-dark btn-light active" id="btn-click" type="submit" name="curpage" value="@num">@num</button></li>
                            }
                            else
                            {
                                <li class="page-item"><button class="page-link text-dark" type="submit" name="curpage" value="@num">@num</button></li>
                            }
                            if (Model.currentPage - num == 3)
                            {
                                break;
                            }
                        }
                        <li class="page-item"><a class="page-link text-dark" href="#">Next</a></li>
                    }
                </ul>

                <input type="text" value="@Model.productName" name="product" hidden />
                <input type="text" value="@Model.categoryName" name="category" hidden />
            </nav>
            @if (!pagination)
            {
        <div class="text-center mt-5">
            <span class="text-black-50">Sorry but nothing is here</span>
        </div>
                
            }
        </form>
    </div>
</div>
<script>
    function onLimitClick() {
        document.getElementById("btn-click").click();
    }

    function onProductClick(productId) {
        location.href = "/ProductDetail?product=" + productId;
    }
</script>

